.item-list {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 40px;
}

.item-list .item-kaden {
  padding: 8px;
  align-content: center;
  text-align: center;
  box-shadow: 1px 1px 3px 0 #e0cd9d;
  width: 100%;
  height: 100%;
  border: 1px solid #cfc1b5;
}

.item-list .item-kaden .image img {
  width: 100%;
  height: auto;
}

.item-list .item-kaden .name {
  font-weight: 400;
  font-size: 1.2rem;
  height: 30px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-list .item-kaden a .name:hover {
  color: #e83900;
}

.item-list > a {
  display: block;
  width: 160px;
  padding-bottom: 0;
  margin-right: 7px;
  margin-bottom: 30px;
  border-bottom: none;
  float: left;
}

@media screen and (max-width: 768px) {
  .item-list {
    gap: 15px;
  }
  .item-list .item-kaden .name {
    height: fit-content;
    font-size: 0.8rem;
  }
}
