:root {
  --background: #ffffff;
  --foreground: #171717;
  --max-width-item: 865px;
  --max-width-page: 1100px;
  --max-width-page-small: 720px;
}

html,
body {
  font-family: Lato, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN",
    メイリオ, Meiryo, sans-serif;
  font-display: swap;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;
  color: #83786e;
  background: #fff;
  transform-origin: 0 0;
  width: 100%;
}

body {
  color: #83786e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #006d3e;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  text-align: justify;
}

li,
ul {
  list-style: none;
}

.container {
  max-width: var(--max-width-page);
  margin: 0 auto 20px auto;
}

.container > *:not(.no-padding) {
  padding: 0 20px;
}

.container-small {
  max-width: var(--max-width-page-small);
  margin: 0 auto;
}

.container-small > *:not(.no-padding) {
  padding: 0 20px;
}

.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.under_green {
  font-weight: 900;
  color: #44a327;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
